.container {
    background-color: #3b4252;
    position: relative; /* Ensure the score counter is positioned relative to the container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#topic-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    position: absolute;  /* Position it absolutely */
    top: 20px;           /* Adjust vertical position */
    right: 20px;         /* Align it to the right */
    max-width: 200px;    /* Keep it compact */
    background-color: #3b4252; /* Background matching the container */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#topic-selection label {
    background-color: #2e3440;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;  /* Smaller text for compact view */
}

#topic-selection input {
    margin-right: 5px;
}



.score-counter {
    position: absolute; /* Absolute positioning relative to the container */
    top: 10px; /* Align at the top */
    right: 10px; /* Align at the right */
    background-color: #2e3440;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
}



#word-display {
    font-size: 2em;
    margin-bottom: 20px;
}

#result, #wrong {
    margin-top: 20px;
    font-size: 1.5em;
}

#result {
    color: green;
}

#wrong {
    color: red;
}

#submit-btn {
    margin-top: 20px;
    padding: 10px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #0056b3;
}

#next-btn {
    margin-top: 20px;
    padding: 10px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Initially hidden */
    width: 80%;
}

#next-btn:hover {
    background-color: #0056b3;
}

select, input, button {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    font-size: 1em;
}

button {
    width: 100%; /* Make both buttons take full width of their container */
}